@media (max-width:979px){
    .main_carousel .slider_post_desc{
        display: none;
    }
    
    .cbp-spmenu-push-toright {
    left: 200px;
}
}



@media (max-width: 767px) {
    .container-fluid {
        margin-left: -20px!important;
        margin-right: -20px!important;
        padding-right: 20px!important;
        padding-left: 20px!important;
    }

    .container {
        width: 300px;
    }

    .side_content {
        margin-top: 30px;
    }
    
    .slider_post_time {
        margin-bottom: 8px;
    }
    
    .news_box_latest {
        margin-bottom: 20px;
    }
    
    .news_box_carousel_post {
        margin-bottom: 20px;
    }
    
    .vertical_news_box .news_box_latest .news_box_post_title {
        margin-top: 12px;
    }
    
    .vertical_news_box .news_box_more_row .news_box_more_post:first-child {
        margin-bottom: 18px;
    }
    
    .news_ticker_title {
        display: none;
    }
    
    .news_ticker_posts {
        display: none;
    }
    
    .header_social_icons.pull-right {
    text-align: center;
    float: none;
    }
    
    .social_icons_list {
        display: inline-block;
        margin-bottom: 0;
    }
    
    .header_search {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 7px;
    float: none;
    text-align: center;
    }
    
    .social_icon {
        margin-left: 15px;
    }
    
    .social_icon:first-child {
        margin-left: 0;
    }
    
    .logo {
margin-top: 6px;
float: none;
text-align: center;
margin-bottom: 24px;
}

.flickr_widget .thumbnails .span {
float: left;
width: auto;
}

    .vertical_news_blog_small.vertical_news_blog_archive .news_box_latest_first .news_box_post_thumbnail {
        margin-right: 0;
        float: none;
    }

    .vertical_news_blog_small.vertical_news_blog_archive .news_box_latest_first .news_box_post_info {
        margin-left: 0;
    }
    
    .vertical_news_blog_small.vertical_news_blog_archive .news_box_latest_first .news_box_post_info .news_box_post_title {
        margin-top: 12px;
    }
    
    
    .navbar.top_navbar .nav>li>a {
padding-left: 0;
padding-right: 20px;
}

.post_share_button {
margin-top: 16px;
}

.new_comment_box input[type="text"] {
margin-bottom: 0;
margin-bottom: 10px;
}

    .news_box_thumbnails_gallery .thumbnails {
        margin-left: -2.127659574468085%;
    }

    .news_box_thumbnails_gallery .thumbnails > .span4 {
        float: left;
        width: 14.3%;*width:14.3%;
        margin-left: 2.127659574468085%;
        margin-bottom: 2.127659574468085%;
    }
    .news_box_thumbnails_gallery .thumbnails > .span1 {
        float: left;
        width: 14.3%;*width:14.3%;
        margin-left: 2.127659574468085%;
        margin-bottom: 2.127659574468085%;
    }

    .news_box_more .news_box_post_title {
        margin-top: 0;
        font-size: 13px;
    }

    .news_box_latest .news_box_post_title {
        font-size: 17px;
        line-height: 24px;
    }

    .news_box_carousel .news_box_post_title {
        font-size: 16px;
        line-height: 23px;
    }

    .slider_post_title {
        clear: both;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .main_carousel .slider_post_meta{
        display: none;
    }

    .main_slider_bullets {
        bottom: 40%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 767px) {

    .side_content {
        margin-top: 0px;
    }

    .main_carousel .slider_post_meta{
        display: block;
    }

    .container {width: auto;}

    .span12{width:100%;*width:99.94680851063829%;}
    .span11{width:91.48936170212765%;*width:91.43617021276594%;}
    .span10{width:82.97872340425532%;*width:82.92553191489361%;}
    .span9{width:74.46808510638297%;*width:74.41489361702126%;}
    .span8{width:65.95744680851064%;*width:65.90425531914893%;}
    .span7{width:57.44680851063829%;*width:57.39361702127659%;}
    .span6{width:48.93617021276595%;*width:48.88297872340425%;}
    .span5{width:40.42553191489362%;*width:40.37234042553192%;}
    .span4{width:31.914893617021278%;*width:31.861702127659576%;}
    .span3{width:23.404255319148934%;*width:23.351063829787233%;}
    .span2{width:14.893617021276595%;*width:14.840425531914894%;}
    .span1{width:6.382978723404255%;*width:6.329787234042553%;}

    .row-fluid .span12{width:100%;*width:99.94680851063829%;}
    .row-fluid .span11{width:91.48936170212765%;*width:91.43617021276594%;}
    .row-fluid .span10{width:82.97872340425532%;*width:82.92553191489361%;}
    .row-fluid .span9{width:74.46808510638297%;*width:74.41489361702126%;}
    .row-fluid .span8{width:65.95744680851064%;*width:65.90425531914893%;}
    .row-fluid .span7{width:57.44680851063829%;*width:57.39361702127659%;}
    .row-fluid .span6{width:48.93617021276595%;*width:48.88297872340425%;}
    .row-fluid .span5{width:40.42553191489362%;*width:40.37234042553192%;}
    .row-fluid .span4{width:31.914893617021278%;*width:31.861702127659576%;}
    .row-fluid .span3{width:23.404255319148934%;*width:23.351063829787233%;}
    .row-fluid .span2{width:14.893617021276595%;*width:14.840425531914894%;}
    .row-fluid .span1{width:6.382978723404255%;*width:6.329787234042553%;}

    .news_box_thumbnails_gallery .row .span8 {
        width: 100%;
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 2.127659574468085%;
    }

    [class*="span"] {
        float: left;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 2.127659574468085%;
    }
    .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        float: left;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 2.127659574468085%;
    }

    .row {
        margin-left: -margin-left: 2.127659574468085%;
    }

    [class*="span"]:first-child {
        margin-left: 0;
    }

    .flickr_widget > .row > .span > .thumbnails > .span img {
        height: auto;
        width: auto;
    }

    .span3 > .flickr_widget > .row > .span > .thumbnails > .span {
        width: 46%;
        float: left;
    }
}

@media (max-width: 480px) {
    
}


@media (max-width: 341px) {
    .container {
        width: auto;
    }
}

@media only screen and (min-width: 0px) and (max-width: 300px) {
    .fullwidthbanner { width:180px; }
    .slider_title { 
        line-height: 50px!important;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .default_logo {
        display: none;
    }
    .retina_logo {
        display: block;	
    }

}


/* Example media queries */
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

