/*@charset "utf-8";*/
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'fontello';
	src: url('/fontello-3379f1c3/font/fontello.svg#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
	}
}
@media screen and (min–moz-device-pixel-ratio:0) {
	@font-face {
	font-family: 'fontello';
	src: url('/fontello-3379f1c3/font/fontello.svg#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
	}
}

input, textarea, textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
	outline: 0px !important;
	-webkit-appearance: none!important;
	box-shadow: none!important;
}

input[type="submit"]{
    background-color: #e35e5e;
    color: #fff;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    -o-transition: all  0.05s ease-in;
    -webkit-transition: all  0.05s ease-in;
    -moz-transition: all  0.05s ease-in;
    transition: all  0.05s ease-in;
}

input[type="submit"]:hover {
    background-color: #212121;
}

a {
    color: #e35e5e;
}

a:hover {
    text-decoration:none;
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
}

a:focus {
    outline: none;
    outline-offset: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #585858;
}
h1, h2, h3, h4, h5, h6, .navbar .nav>li>a, .logo h1, .slider_post_meta, .site_footer .widget_title, .criteria_item, .summary_title, .criteria_score , .review_rating, .share_title, .title, .comment_info, input[type="submit"], .dropdown-menu>li>a  {
    font-family: 'Oswald', sans-serif;
}

.title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar {
    margin-bottom: 0;
}

.navbar .nav>li>a {
    text-shadow: none;
}

/* start top menu */
.navbar.top_navbar .nav>li>a {
    color: #c8c8c8;
    padding: 12px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.navbar.top_navbar .nav>li:first-child>a {
    padding-left: 0;
}

.navbar.top_navbar .nav>li>a:focus, .navbar.top_navbar .nav>li>a:hover {
    color: #dddddd;
}

.top_menu {
    background-color: #303030;
    margin-bottom: 30px;
}

/* top menu dropdown submenu */
.navbar .nav>li>.dropdown-menu:before {
display: none;
}

.navbar .nav>li>.dropdown-menu:after {
display: none;
}
ul.dropdown-menu {
    margin-top: 0;
    border: none;
    border-radius: 0;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
padding: 0;
}

.dropdown-menu>li>a {
    text-transform: uppercase;
    -o-transition: none 0s ease-in;
    -webkit-transition: none 0s ease-in;
    -moz-transition: none 0s ease-in;
    transition: none 0s ease-in;
    padding: 10px 20px;
    
}

.dropdown-menu>li>a:hover {
    background: none;
}

.navbar.top_navbar ul.dropdown-menu {
    background-color: #252525;
}

.navbar.top_navbar .dropdown-menu>li>a {
    color: #aeaeae;
    text-shadow: none;
    border-bottom: 1px solid #000;
    border-top: 1px solid #454545;
    
}

.navbar.top_navbar .dropdown-menu>li:first-child>a {
    border-top: none;
}

.navbar.top_navbar .dropdown-menu>li:last-child>a {
    border-bottom: none;
}

.navbar.top_navbar .dropdown-menu>li>a:hover {
    text-shadow: none;
    color: #747474;
}

/* start header area */
.logo {
    margin-top: 6px;
}

.logo h1 a {
    font-weight: 400;
    color:#585858;
}

.logo h1:first-letter {
    color: #e35e5e;
}


.logo p {
    color: #a5a8a8;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
}

.header_banner {
    border: 1px solid #B3B3B3;
}

.header_area {
    margin-bottom: 30px;
}

/* start main navigation */
.main_navigation {
 /*   -moz-border-radius: 0em 0em 2em 2em;
    border-radius: 0em 0em 2em 2em; */  
    background-color: #f5f5f5;
    border-top: 5px solid #444;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

.navbar.main_navbar .nav>li>a {
    color: #303030;
    padding: 8px 10px;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    border-right: 1px solid #d9d9d9;
    position: relative;
}

.navbar.main_navbar .nav>li>a:after {
    height: 100%;
    border-right: 1px solid #ffffff;
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -2px;
}

.navbar.main_navbar .nav>li:first-child>a {
    border-left: 1px solid #e2e2e2;
}

.navbar.main_navbar .nav>li:first-child {
    margin-left: -1px;
}

.navbar.main_navbar .nav>li>a:focus, .navbar.main_navbar .nav>li>a:hover {
	color: #303030;
}

.navbar.main_navbar .nav>li.current-menu-item, .navbar.main_navbar .nav>li:hover {
    border-top: 5px solid #e35e5e;
    margin-top: -5px;
    text-decoration:none;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: transparent;
}

/* main navbar dropdown submenu */

.navbar.main_navbar ul.dropdown-menu {
border: 1px solid #e7e7e7;
background-color: #f5f5f5;
margin-top: 1px;
border-top: none;
}

.navbar.main_navbar ul.dropdown-menu>li>a {
    color: #484848;
    border-bottom: 1px solid #e7e7e7;
} 

.navbar.main_navbar ul.dropdown-menu>li:last-child>a {
    border-bottom: none;
}

.navbar.main_navbar ul.dropdown-menu>li>a:hover {
background-color: #ebebeb;
border-left: 3px solid #e35e5e;
margin-left: -1px;
padding-left: 18px;
}
/* start search */
.header_search form {
    margin-bottom: 0;
}

.header_search {
    margin-top: 7px;
    margin-right: 20px;
}

.search input {
    font-size: 12px;
    font-weight: 300;
    color: #b9b8b8;
    border: 1px solid #e4e4e4;
}

.input-append .add-on, .input-prepend .add-on {
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #bbb;
    font-size: 12px;
}

/* start news ticker */
.news_ticker {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    background-color: #f5f5f5;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dedede;
    padding: 10px;
}

.news_ticker_title {
    background-color: #e35e5e;
    color: #fff;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-transform: uppercase;
}

.ticker-wrapper.has-js {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: 300;
}

.ticker {
    background-color: transparent;
    width: 680px;
}

.ticker-content {
    color: #a7a7a7;
    font-weight: 300;
    background-color: transparent;
    padding-top: 5px;
}

.ticker-content a {
    color: #a7a7a7;
    font-weight: 300;
}

.ticker-content a:hover {
	text-decoration: none;	
	color: #7a7a7a;
}

.ticker-swipe {
    background-color: #f5f5f5;
}

.ticker-swipe span {
    background-color: transparent;
    border-bottom: 1px solid #e35e5e;
}

.ticker_meta {
    font-style: italic;
    color: #707070;
    font-size: 11px;
    font-weight: normal;
    margin-left: 6px;
}

/* social icons */
.social_icons_list {
    list-style: none;
    margin-top: 2px;
    margin-right: 14px;
}

.social_icon {
    float: left;
    margin-left: 6px;
}

.social_icon a {
    background-color: #e35e5e;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.social_icon.facebook_icon a {
    background: #4f8ac3; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmOGFjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTcwYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4f8ac3 0%, #4e70bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f8ac3), color-stop(100%,#4e70bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4f8ac3 0%,#4e70bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4f8ac3 0%,#4e70bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4f8ac3 0%,#4e70bf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4f8ac3 0%,#4e70bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f8ac3', endColorstr='#4e70bf',GradientType=0 ); /* IE6-8 */

}

.social_icon.twitter_icon a {
    background: #3ce9f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjZTlmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmJkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #3ce9f2 0%, #3bbded 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ce9f2), color-stop(100%,#3bbded)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3ce9f2 0%,#3bbded 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3ce9f2 0%,#3bbded 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3ce9f2 0%,#3bbded 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3ce9f2 0%,#3bbded 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ce9f2', endColorstr='#3bbded',GradientType=0 ); /* IE6-8 */

}

.social_icon.gplus_icon a {
    background: #494949; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #494949 0%, #333333 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#333333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #494949 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #494949 0%,#333333 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #494949 0%,#333333 100%); /* IE10+ */
background: linear-gradient(to bottom,  #494949 0%,#333333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#333333',GradientType=0 ); /* IE6-8 */

}

.social_icon.dribbble_icon a {
    background: #da4e82; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhNGU4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZjNmNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #da4e82 0%, #af3f77 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da4e82), color-stop(100%,#af3f77)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #da4e82 0%,#af3f77 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #da4e82 0%,#af3f77 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #da4e82 0%,#af3f77 100%); /* IE10+ */
background: linear-gradient(to bottom,  #da4e82 0%,#af3f77 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da4e82', endColorstr='#af3f77',GradientType=0 ); /* IE6-8 */

}

.social_icon.rss_icon a {
    background: #fca83a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYTgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjg1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fca83a 0%, #ef8539 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca83a), color-stop(100%,#ef8539)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fca83a 0%,#ef8539 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fca83a 0%,#ef8539 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fca83a 0%,#ef8539 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fca83a 0%,#ef8539 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca83a', endColorstr='#ef8539',GradientType=0 ); /* IE6-8 */

}

/* news carousel */
.news_carousel {
    margin-top: 30px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -ms-transform: translateZ(0);
}

.news_carousel .carousel {
    margin-bottom: 0;
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
}

.carousel-control.left {
    left: -60px;
}

.carousel-control.right {
    right: -60px;
}

.carousel-control {
    border-radius: 0;
    background-color: #f3f3f3;
    width: 34px;
    height: 34px;
    font-size: 30px;
    color: #696969;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.carousel-control:hover { 
    background-color: #e35e5e;
    color: #fff;
}

.round_thumb {
   -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
}

.news_carousel:hover .carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}

.news_carousel_post {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    background-color: #f1f1f1;
}

.news_carousel_thumbnail {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    padding: 4px;
    border: 1px solid #e2e2e2;
}

.news_carousel_info .post_title {
    font-weight: normal;
    margin-bottom: 4px;
}

.news_carousel_info .post_title a {
    color: #444545;
}
    
.news_carousel_info {
    padding: 2px 10px 14px;;
}

.news_carousel_info .post_meta {
    font-size: 11px;
    color: #bebebe;
}

/* start site content */
.site_content {
    margin-top: 30px;
    margin-bottom: 60px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/* start slider */
.main_slider_inner > item {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    position: relative;
}

.slider_post_info_overlay {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #161616;
    bottom: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.slider_post_info_box {

    position: absolute;
    height: 50%;
    width: 100%;
    background-color: transparent;
    bottom: 0;
}

.slider_post_info {
   -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    margin: 15px;
}

.slider_post_title {

    clear: both;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider_post_time {
    background-color: #e35e5e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 4px 10px;
    float: left;
    margin-bottom: 12px;
    color: #fff;
    font-weight: 300;
}

.slider_post_meta {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    margin-top: 2px;
    float: left;
    letter-spacing: 1px;
}

.slider_post_title a {
    color: #fff;
}
.slider_post_desc {
    color: #fff;
    clear: both;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.slider_post_desc p {
    margin-bottom: 0;
}
.main_slider {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    position: relative;
    margin-bottom: 30px;
}

.main_slider_bullets {
    position: absolute;
    top: auto;
    bottom: 42%;
    right: 18px;
}

.carousel-indicators li {
    border-radius: 0;
    cursor:  pointer;
    background-color: #fff;
}

.carousel-indicators li:first-child {
    margin-left: 0;
}

.carousel-indicators .active {
    background-color: #e35e5e;
}
/* end slider */

/* start news box  */
.news_box_title {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    background-color: #292929;
    color: #fff;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.news_box:first-child .news_box_title {
    margin-top: 0;
}

.news_box_title:after {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #292929;
    position: absolute;
    bottom: -9px;
    left: 15px; 
}

.news_box_title h2 {
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    margin: 0;
    color: #dedede;
    text-transform: uppercase;
}

.news_box_post_title {
    margin-bottom: 2px;
    
}

.news_box_post_title a {
    color: #585858;
    text-transform: uppercase;
    font-weight: normal;
}

.news_box_post_desc p {
    margin-bottom: 0;
}

.news_box_post_meta {
    font-size: 12px;
    color: #a09f9f;
}

.news_box_post_desc {
    margin-top: 10px;
    font-size: 12px;
    color: #a09f9f;
}

.criteria_stars_small {
    background-image: url(img/stars_small.png);
    background-position: 0px 11px;
    height: 11px;
    width: 62px;
    position: relative;
    margin-top: 6px;
}

.criteria_active_stars_small {
    position: absolute;
    background-image: url(img/stars_small.png);
    height: 11px;
}

.news_box_latest .news_box_post_title {
    font-size: 20px;
    line-height: 26px;
}

.news_box_more .news_box_post_thumbnail {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 16px;
}

.news_box_more .news_box_post_title {
    margin-top: 0;
    font-size: 17px;
}

/* start horizontal news box */
.horizontal_news_box .news_box_latest .news_box_post_title {
    margin-top: 16px;
}

.horizontal_news_box_thumbnails .news_box_more .news_box_post_info {
    margin-left: 76px;
}
.horizontal_news_box .news_box_more_post {
    clear: both;
}

.horizontal_news_box_thumbnails .news_box_more_post {
    margin-bottom: 18px;
}

.horizontal_news_box_thumbnails .news_box_more_post:last-child {
    margin-bottom: 0px;
}

.horizontal_news_box_text .news_box_more_post {
    border-bottom: 1px solid #d4d3d3;
    margin-bottom: 18px;
    padding-bottom: 6px;
}

.horizontal_news_box_text .news_box_more_post:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

/* start vertical news box */
.vertical_news_box .news_box_latest .news_box_post_title {
    margin-top: -2px;
}

.vertical_news_box .news_box_latest .news_box_post_meta {
    margin-top: 2px;
}

.vertical_news_box .news_box_latest {
    margin-bottom: 30px;
}

.vertical_news_box .news_box_latest .read_more_link {
    display: block;
    margin-top: 8px;
}

.vertical_news_box .news_box_more_row {
    margin-bottom: 18px;
}

.vertical_news_box .news_box_more_row:last-child {
    margin-bottom: 0px;
}

/* news box carousel */
.news_box_carousel_bullets {
    position: relative;
}

.box_carousel .carousel-indicators li {
    background-color: #3e3d3d;
}

.box_carousel .carousel-indicators li.active {
    background-color: #e35e5e;
}

.news_box_carousel_bullets_container {
    text-align: center;
}

.news_box_carousel_bullets {
    position: static;
    top: auto;
    right: auto;
    margin-top: 30px;
    display: inline-block;
}

.news_box_carousel .news_box_post_title {
    font-size: 20px;
    line-height: 26px;
    color: #3e3d3d;
    font-weight: 300;
}

.news_box_carousel .news_box_post_meta {
    margin-top: 6px;
}

/* news box blog small */
.vertical_news_blog_small .news_box_post_thumbnail {
    float: left;
    padding: 3px;
    border: 1px solid #dbdbdb;
    margin-right: 15px;
}

.vertical_news_blog_small .news_box_post_info {
    margin-left: 103px;
}

.vertical_news_blog_small .news_box_post_title {
    margin-top: -2px;
}

.vertical_news_blog_big .news_box_post_title {
    margin-top: 14px;
    margin-bottom: 4px;
}

.vertical_news_blog .news_box_latest {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.vertical_news_blog_big .news_box_latest {
    padding-bottom: 26px;
}

.vertical_news_blog .news_box_latest:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* news box gallery */
.news_box_thumbnails_gallery .news_box_grid {
    margin-bottom: -30px;
}
/* end news box */

/* end site content */
/* start sidebar */
.side_content .widget_title {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    background-color: #292929;
    color: #fff;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
}

.side_content .widget_title:after {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #292929;
    position: absolute;
    bottom: -9px;
    left: 15px; 
}

.side_content .widget_title h4 {
    font-size: 16px;
    line-height: 15px;
    font-weight: normal;
    margin: 0;
    color: #dedede;
    text-transform: uppercase;
}

.widget_container {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    margin-bottom: 30px;
}

.widget_container:last-child {
    margin-bottom: 0;
}

.widget_container > ul {
    list-style: none;
    margin-left: 0;
}

.widget_container > ul > li {
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #4b4b4b;
}

.widget_container > ul > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.site_footer .widget_container > ul > li a {
    color: #9d9d9d;
}

.site_footer .widget_container > ul > li a:hover {
color: #e7e7e7;
}

.site_footer .tweets_widget > ul > li a {
    color: #e35e5e;
}

.site_footer .widget_title {
    margin-bottom: 30px;
}

.site_footer .widget_title h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.tweet_icon {
    padding: 0px;
    font-size: 10px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #e35e5e;
    margin-right: 4px;
}

.tweet_icon i {
    color: #fff;
}

.tweet_name {
    margin-right: 4px;
}

.tweet_time {
    display: block;
    color: #dddcdc;
    font-size: 11px;
    margin-top: 4px;
    font-weight: 600;
}

.tagcloud a {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    font-size: 12px!important;
    padding: 6px 8px;
    display: block;
    float: left;
    margin-right: 4px;
    margin-bottom: 7px;
    background-color: #e35e5e;
    color: #fff;
}

/* start flickr widget grid */

.flickr_widget > .row > .span > .thumbnails > .span img {
    width: 70px;
    height: 70px;
}

.span3 > .flickr_widget > .row {
    margin-left: -5px;
}

.span3 > .flickr_widget > .row > .span > .thumbnails > .span {
    margin-bottom: 5px;
    margin-left: 5px;
}

.span4 > .flickr_widget > .row {
    margin-left: -6.6666666667px;
}

.span4 > .flickr_widget > .row > .span > .thumbnails > .span {
    margin-bottom: 6.6666666667px;;
    margin-left: 6.6666666667px;;
}

.sponsor_title {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    background-color: #e6e6e6;
    padding: 16px;
    color: #b8b7b7;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}
/* end sidebar */

/* start middle sidebar */
.middle_side_content .vertical_news_blog_text .read_more_link {
    display: block;
    margin-top: 8px;
}

.vertical_news_blog_text .news_box_post_title {
    margin-top: 0;
}
/* end middle sidebar */

/* start blog archive */
.vertical_news_blog_small.vertical_news_blog_archive .news_box_latest .news_box_post_info {
    margin-left: 168px;
}

.vertical_news_blog_small.vertical_news_blog_archive .news_box_latest_first .news_box_post_info {
    margin-left: 323px;
}

.vertical_news_blog_small.vertical_news_blog_archive .read_more_link {
    display: block;
    margin-top: 1px;
}

/* end blog archive */

/* start single post */
.single_post .post_title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
}

.single_post .news_box_post_meta {
    margin-top: -2px;
}

.single_post .tagcloud {
    margin-top: 20px;
    clear: both;
}

.single_post .news_box_post_desc {
    clear: both;
    line-height: 23px;
    font-size: 13px;
}
/* end single post */

/* start review */
.review_box {
    margin-top: 20px;
}

.review_title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 0;
}

.criteria_stars {
    background-image: url(img/stars.png);
    background-position: 0px 16px;
    height: 16px;
    width: 95px;
    position: relative;
}

.criteria_active_stars {
    position: absolute;
    background-image: url(img/stars.png);
    height: 16px;
}

.criteria_item {
    background-color: #f1f1f1;
    padding: 10px 14px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.criteria_item:last-child {
    margin-bottom: 0;
}

.criteria_item .criteria_name {
    float: left;
    font-size: 15px;
    font-weight: normal;
    color: #666;
    letter-spacing: 1px;
}

.criteria_item .criteria_stars {
    float: right;
}

.criteria_score {
    color: #fbd233;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
}

.review_summary {
    color: #bcbcbc;
    background-color: #3b3b3b;
    padding: 14px;
    margin-top: 8px;
}

.summary_title {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    margin-right: 4px;
    float: left;
}

.summary_score {
    color: #fbd233;
    font-size: 17px;
    float: right;
}

.review_rating {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: #D55252;
    float: left;
    padding: 14px;
    letter-spacing: 1px;
}
/* end review */

/* start share box */
.post_share_box {
    padding-top: 30px;
    border-top: 1px solid #dbdbdb;
    margin-top: 30px;
}
.share_title {
    font-size: 15px;
    float: left;
    margin-right: 20px;
}
/* end share box */

/* Post share button style */
.post_share_action {
    float: left;
}
.post_share_text {
    padding: 0px 4px;
    line-height: 5px;
    font-size: 12px;
}
.post_share_counter {
    border: 1px solid #CCC;
    text-align: center;
    padding: 2px 4px;
    color: #AAA;
    position: relative;
    float: left;
    line-height: 13px;
    margin-left: 8px;
}

.post_share_counter:after {
    content: '';
    display: inline-block;
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid #CCC;
    position: absolute;
    bottom: 50%;
    left: -6px;
    margin-bottom: -6px;
}

.post_share_button .post_share_action {
    text-align: center;
    cursor: pointer;
}

.post_share_button .post_share_action a {
    color: #fff;
}

.post_share_icon {
    float: left;
    font-size: 12px;
    padding: 3px 2px;
    line-height: 12px;
}

.post_share_buttons {
    float: left;
}
.post_share_button {
    float: left;
    margin-right: 12px;
}

.post_share_button:last-child {
    margin-right: 0;
}

/* facebook post share button colors */
.post_share_button.facebook_share_button .post_share_action {
    background-color: #5F7AB9;
}

.post_share_button.facebook_share_button .post_share_action .post_share_icon {
    background-color: #385497;
}

/* google plus post share button colors */
.post_share_button.gplus_share_button .post_share_action {
    background-color: #e37963;
}

.post_share_button.gplus_share_button .post_share_action .post_share_icon {
    background-color: #de6149;
}

/* twitter post share button colors */
.post_share_button.twitter_share_button .post_share_action {
    background-color: #46D4FE;
}

.post_share_button.twitter_share_button .post_share_action .post_share_icon {
    background-color: #18BDEE;
}

/* linked post share button colors */
.post_share_button.linkedin_share_button .post_share_action {
    background-color: #4e669b;
}

.post_share_button.linkedin_share_button .post_share_action .post_share_icon {
    background-color: #244c82;
}
/* End post share button style */

/* start author box */
.author_box {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #dbdbdb;
}

.author_avatar {
    float: left;
    padding: 3px;
    border: 1px solid #dbdbdb;
    margin-right: 15px;
}

.author_info {
    margin-left: 83px;
}

.author_name {
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: -2px;
    margin-bottom: 0;
}

.author_bio {
    color: #afaeae;
    margin-top: 6px;
    font-size: 12px;
}
/* end author box */

/* Start comments box style */
.post_comments_box {
    border-top: 1px solid #dbdbdb;
	margin-top: 30px;
	padding-top: 30px;
}

.comment_body {
color: #9c9b9b;
font-size: 12px;
}

.commenter_name {
	margin-top: 0;
	margin-bottom: 2px;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0;
}

.comment_info {
	color: #9c9b9b;
	font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
}

.comment_info a.comment_time {
	color: #9c9b9b;
}

.commenter img {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.media.the_comment {
	margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed #dbdbdb;
}

.media.the_comment:last-child {
        border-bottom: none;
        padding: 0;
        margin: 0;
}

.media.the_comment:last-child {
	margin-bottom: 0px;
}

.children .media.the_comment {
	margin-bottom: 0px;
	margin-top: 20px;
        padding-bottom: 20px
}

.children .media.the_comment:last-child {
	margin-bottom: 0px;
        padding-bottom: 0px
}

.comment_textarea {
	margin-top: 20px;
	margin-bottom: 14px;
}

.comment_body .media-heading {
	margin: 0 0 14px;
}

.media>.pull-left {
margin-right: 12px;
}

.comments_title {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
margin-bottom: 20px;
letter-spacing: 0;
}

.comment_body p {
    margin-bottom: 0;
}

ul.children {
    list-style: none;
    border-left: 1px dashed #dbdbdb;
padding-left: 20px;
}

.media, .media-body {
overflow: visible;
}

.media-list.comments_list {
    margin-bottom: 0;
}
/* End comments box style */

/* start new comment box */
.new_comment_box {
    border-top: 1px solid #dbdbdb;
	margin-top: 30px;
	padding-top: 30px;
}

.new_comment_box input[type="text"], .new_comment_box textarea {
    background-color: #eee;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #909090;
    font-size: 12px;
    padding: 22px 16px 20px;
    font-weight: 300;
}

.new_comment_box input[type="text"] {
    margin-bottom: 0;
}

.new_comment_box form {
    margin-bottom: 0;
}

/* end new comment box */

/* start site footer */
.first_footer {
    background-color: #212121;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #a5a5a5;
}

.second_footer {
    background-color: #1d1d1d;
    color: #595959;
    padding: 20px;
    font-size: 12px;
}
/* end site footer */


/* Start mobile push menu */
.mobile_menu_button {
	position: fixed;
	left: 0px;
	top: 80px;
	z-index: 99999;

}
.cbp-spmenu-push-toright .mobile_menu_button {
	left: 200px;
}
.mobile_menu_button i {
	color: #EEE;
	margin: 0;
	margin-right: 20px;
	font-size: 21px;
	background-color: #D55252;
	padding: 14px 8px;
	display: block;
	cursor: pointer;
}
.cbp-spmenu {
    background: #e35e5e;
    position: fixed;
}
 
.cbp-spmenu h3 {
    color: #eee;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #D55252;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background: #D55252;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
 
.cbp-spmenu-vertical {
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #D55252;
    padding: 1em;
}

.cbp-spmenu-left {
    left: -200px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

/* Push classes applied to the body */
 
.push_menu_body {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
/* Transitions */
 
.cbp-spmenu, .push_menu_body, .mobile_menu_button {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* End mobile push menu */

/* start social counter */
.counter_icon {
    text-align: center;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
padding: 20px;
margin-bottom: 10px;
}
.counter_icon a {
color: #fff;
font-size: 36px;
}

.counter_icon.facebook_icon {
    background-color:  #3b5998;
}

.counter_icon.twitter_icon {
    background-color: #26bdef;
}

.counter_icon.gplus_icon {
    background-color: #DF6556;
}


.counter_number, .counter_text {
    text-align: center;
    font-size: 13px;
}

.counter_number {
    margin-bottom: 2px;
    font-weight: bold;
}
.counter_text {
    color: #9a9a9a;
    
}
/* end social counter */

/* start subscribe */
.subscribe_icon {
float: left;
font-size: 40px;
margin-left: -12px;
color: #f2861d;
margin-right: 8px;
}

.subscribe_text {
color: #929292;
}

.subscribe_form {
    margin-top: 20px;
}

.subscribe_form input[type="submit"] {
    background-color: #292929;
    padding: 9px;

}

.subscribe_form input[type="text"] {
   background-color: #292929;
margin-bottom: 0;
background-color: #f2f2f2;
border: 1px solid #e0e0e0;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
font-size: 11px;
letter-spacing: 1px;
font-style: italic;
padding: 18px 10px;
}
/* end subscribe */

/* start thumbnail effect */

.thumbnail_effect, .thumbnail_effect_small {
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.thumbnail_effect .thumbnail_overlay, .thumbnail_effect_small .thumbnail_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.thumbnail_effect:hover .thumbnail_overlay, .thumbnail_effect_small:hover .thumbnail_overlay {
    opacity: 0.5;
}

.thumbnail_effect .thumbnail_overlay i {
font-size: 31px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -21px;
-moz-border-radius: 2em 2em 2em 2em;
border-radius: 2em 2em 2em 2em;
-webkit-transition: margin-top 0.3s ease;
    -moz-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
}

.thumbnail_effect:hover .thumbnail_overlay i {
    margin-top: -16px;
}

.thumbnail_effect_small .thumbnail_overlay i {
font-size: 18px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -13px;
-moz-border-radius: 2em 2em 2em 2em;
border-radius: 2em 2em 2em 2em;
-webkit-transition: margin-top 0.3s ease;
    -moz-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
}

.thumbnail_effect_small:hover .thumbnail_overlay i {
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    margin-top: -9px;
}


/* end thumbnail effect */

/* start social counter hover effect */

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-shadow: none;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 3 */

.btn-3:active {
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    width: 60px;
}

/* Button 3e */
.btn-3e {
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 0px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 65%;
}

.pp_social .facebook {
width: 100px;
}
/* end social counter hover effect */