
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
img.frame-1 {
	height:512px;
	width:580px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
