
/**
 * spot-the-difference.css
 *
 * Kids Dailies Spot the Difference CSS.
 * 
 * @author Bruce Huang <bruce@bmcd.co>
 * @version 0.1
 * @package games
 */

.wrap {
		margin: 0 auto;
}
.timer{
		font-size: 1em;
		color: red;
}
#spot_Canvas{
	margin-left: -35px;
}
