<template name="spot_the_difference">

	<div class="wrap" id="spot_the_difference_wrap">
		<h1>Spot the Difference Game</h1>
		<p>Can you spot the differences? Click on all the differences you can find before the timer expires!</p>
		
		<div class="timer" id="spot_timer">
			<span>Time Left:</span>
			<span id="spot_timer_number"></span>
		</div>
	<img id="spot_image1" src="spot-the-difference-1.jpg" border="0"  width="0" height="0"/>
    <canvas id="spot_Canvas"> 
         Your browser does not support Canvas. 
    </canvas>
  </div>
	

</template>
