<template name="fake_game">
	<head>
		<title>fake_game baby</title>
	</head>
	<body>
		<h1>Hello Kids: I am fun. Play me!!!!</h1>
		{{> whacky_message}}
	</body>
</template>

<template name="whacky_message">
	<p>Duuuuuuuuuude</p>
</template>