<template name="admin">
	<div class="config">
	    {{#each configs}}
			<div class="form-group form-inline">
				<label for="">{{name}}: </label>
				<input type="text" value="{{value}}" class="form-control" name="{{name}}" id="{{_id}}">
				<button class="btn btn-default update" style="border: 1px solid #999;">Apply</button>	
			</div>      
	    {{/each}}
  	</div>
</template>