<template name="animation_slider">
		<div class="news_box news_box_carousel">
			<div class="news_box_title"><h2>Fun With Animation</h2></div>
			<!-- start news box grid -->
			
			<div id="news_box_carousel" class="box_carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">

					<!-- carousel cycle 1 active -->
					<div class="item">
						<div class="row-fluid">
							<!-- carousel post item -->
							<div class="span4 news_box_carousel_post">
								<div class="news_box_carousel_thumbnail thumbnail_effect">
									<a href="#"><img alt="Image Title" src="/img/14(2).jpg" title="Post Title" class="round_thumb"></a>
									<a href="#"><div class="thumbnail_overlay"><i class="icon-link"></i></div></a>
								</div>
								<div class="news_box_carousel_info">
									<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
									<div class="news_box_post_meta">Posted on July 5, 2013</div>
									
									<!-- start review small stars -->
									<div class="criteria_stars_small">
										<div class="criteria_active_stars_small" style="width:92%;"></div>
									</div>
									<!-- end review small stars -->
								</div>
							</div>

							<!-- carousel post item -->
							<div class="span4 news_box_carousel_post">
								<div class="news_box_carousel_thumbnail thumbnail_effect">
									<a href="#"><img alt="Image Title" src="/img/15(2).jpg" title="Post Title" class="round_thumb"></a>
									<div class="thumbnail_overlay"><i class="icon-link"></i></div>
								</div>
								<div class="news_box_carousel_info">
									<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
									<div class="news_box_post_meta">Posted on July 5, 2013</div>
									
									<!-- start review small stars -->
									<div class="criteria_stars_small">
										<div class="criteria_active_stars_small" style="width:92%;"></div>
									</div>
									<!-- end review small stars -->
								</div>
							</div>

							<!-- carousel post item -->
							<div class="span4 news_box_carousel_post">
								<div class="news_box_carousel_thumbnail thumbnail_effect">
									<a href="#"><img alt="Image Title" src="/img/16(1).jpg" title="Post Title" class="round_thumb"></a>
									<div class="thumbnail_overlay"><i class="icon-link"></i></div>
								</div>
								<div class="news_box_carousel_info">
									<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
									<div class="news_box_post_meta">Posted on July 5, 2013</div>
									
									<!-- start review small stars -->
									<div class="criteria_stars_small">
										<div class="criteria_active_stars_small" style="width:92%;"></div>
									</div>
									<!-- end review small stars -->
								</div>
							</div>
						</div>
					</div>

					<!-- carousel cycle 2 -->
					<div class="item active">
						<div class="row-fluid">
							<!-- carousel post item -->
							<div class="span4 news_box_carousel_post">
								<div class="news_box_carousel_thumbnail thumbnail_effect">
									<a href="#"><img alt="Image Title" src="/img/19.jpg" title="Post Title" class="round_thumb"></a>
									<div class="thumbnail_overlay"><i class="icon-link"></i></div>
								</div>
								<div class="news_box_carousel_info">
									<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
									<div class="news_box_post_meta">Posted on July 5, 2013</div>
									
									<!-- start review small stars -->
									<div class="criteria_stars_small">
										<div class="criteria_active_stars_small" style="width:92%;"></div>
									</div>
									<!-- end review small stars -->
								</div>
							</div>

							<!-- carousel post item -->
							<div class="span4 news_box_carousel_post">
								<div class="news_box_carousel_thumbnail thumbnail_effect">
									<a href="#"><img alt="Image Title" src="/img/20(2).jpg" title="Post Title" class="round_thumb"></a>
									<div class="thumbnail_overlay"><i class="icon-link"></i></div>
								</div>
								<div class="news_box_carousel_info">
									<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
									<div class="news_box_post_meta">Posted on July 5, 2013</div>
									
									<!-- start review small stars -->
									<div class="criteria_stars_small">
										<div class="criteria_active_stars_small" style="width:92%;"></div>
									</div>
									<!-- end review small stars -->
								</div>
							</div>

							<!-- carousel post item -->
							<div class="span4 news_box_carousel_post">
								<div class="news_box_carousel_thumbnail thumbnail_effect">
									<a href="#"><img alt="Image Title" src="/img/21.jpg" title="Post Title" class="round_thumb"></a>
									<div class="thumbnail_overlay"><i class="icon-link"></i></div>
								</div>
								<div class="news_box_carousel_info">
									<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
									<div class="news_box_post_meta">Posted on July 5, 2013</div>
									
									<!-- start review small stars -->
									<div class="criteria_stars_small">
										<div class="criteria_active_stars_small" style="width:92%;"></div>
									</div>
									<!-- end review small stars -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="news_box_carousel_bullets_container">
					<!-- slider bullets control -->
					<ol class="carousel-indicators news_box_carousel_bullets">
						<li data-target="#news_box_carousel" data-slide-to="0" class=""></li>
						<li data-target="#news_box_carousel" data-slide-to="1" class="active"></li>
					</ol>
				</div>

			</div>
			
		</div>
</template>