<template name="cool_games">

	<div class="news_box news_box_thumbnails_gallery">
		<div class="news_box_title"><h2>Cool Games!!</h2></div>
		<!-- start news box grid -->
		<div class="news_box_grid row">
			
			<!-- start news box more posts -->
			<div class="news_box_more span8">
				<div class="row">
					<div class="span8">
						<ul class="thumbnails">
							<!-- first big thumbnail -->
							<li class="span4 thumbnail_effect">
								<a href="/img/13.jpg" class="prettyPhoto slideshow_1" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/13.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_1"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							
							<!-- more small thumbnails -->
							<li class="span1 thumbnail_effect_small">
								<a href="/img/1.jpg" class="prettyPhoto slideshow_2" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/1(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_2"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/2.jpg" class="prettyPhoto slideshow_3" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/2(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_3"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/3.jpg" class="prettyPhoto slideshow_4" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/3(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_4"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/6.jpg" class="prettyPhoto slideshow_5" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/6(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_5"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/7.jpg" class="prettyPhoto slideshow_6" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/7(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_6"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/8.jpg" class="prettyPhoto slideshow_7" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/8.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_7"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/9.jpg" class="prettyPhoto slideshow_8" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/9.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_8"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/11.jpg" class="prettyPhoto slideshow_9" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb"  src="/img/11.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_9"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/14.jpg" class="prettyPhoto slideshow_10" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/14(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_10"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/15.jpg" class="prettyPhoto slideshow_11" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb"  src="/img/15(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_11"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/16.jpg" class="prettyPhoto slideshow_12" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/16.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_12"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/20.jpg" class="prettyPhoto slideshow_13" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/20(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_13"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/22.jpg" class="prettyPhoto slideshow_14" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/22.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_14"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/23.jpg" class="prettyPhoto slideshow_15" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/23(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_15"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/28.jpg" class="prettyPhoto slideshow_16" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/28(1).jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_16"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
							<li class="span1 thumbnail_effect_small">
								<a href="/img/36.jpg" class="prettyPhoto slideshow_17" rel="prettyPhoto[gallery_id]"><img alt="Image Title" class="round_thumb" src="/img/36.jpg"></a>
								<a class="prettyPhotolink" rel="slideshow_17"><div class="thumbnail_overlay"><i class="icon-plus"></i></div></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end news box more posts -->
		</div>
		<!-- end news box grid -->
	</div>
</template>	