<template name="header_area">
		<div class="header_area container-fluid">
			<div class="container">
				<div class="header_banner">
					<!-- <img alt="Image Title" src="/img/Daily10_logo.png" alt="Daily 10 alt text"> -->
					<img src="{{header_banner}}" alt="">
				</div>
				<div class="container">
					<div class="row pull-right">
						{{loginButtons}}
					</div>
				</div>
			</div>
		</div>
</template>