<!-- main_menu_items -->
<template name="main_menu_items">
	<div class="main_menu container-fluid">
		<div class="container">
		
			<!-- Start Site Main Menu -->
			<div class="main_navigation clearfix">
				<nav class="navbar main_navbar pull-left visible-desktop">
					<div class="main_nav">
						<ul id="menu-main-menu" class="nav">
							<li class="menu-item current-menu-item">
								<a href="/home" data-target="#" tabindex="-1" data-delay="200" role="button">Home</a>
							</li>							
							<li class="menu-item  dropdown">
								<a href="/" class="dropdown-toggle" data-toggle="dropdown" data-target="#" tabindex="-1" data-delay="200" role="button">Games<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{image_scramblePath}}">Image Scramble</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{maze_2Path}}">Maze 2</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{mazePath}}">Maze</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{tic-tac-toePath}}">Tic Tac Toe</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{crosswordPath}}">Cross word</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{wordsearchPath}}">wordsearch</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{spot_the_differencePath}}">Spot The Difference</a></li>
								</ul>
							</li>

							<li class="menu-item  dropdown">
								<a href="/" class="dropdown-toggle" data-toggle="dropdown" data-target="#" tabindex="-1" data-delay="200" role="button">Stories<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{image_scramblePath}}">Story One</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{maze_2Path}}">Story 2</a></li> 
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{spot_the_differencePath}}">Story 3</a></li>
								</ul>
							</li>

							<li class="menu-item">
								<a href="#" data-target="#" tabindex="-1" data-delay="200" role="button">Animations</a>
							</li>
							<li class="menu-item">
								<a href="#" data-target="#" tabindex="-1" data-delay="200" role="button">Breaking News</a>
							</li>
							<li class="menu-item">
								<a href="{{info_graphicPath}}" data-target="#" tabindex="-1" data-delay="200" role="button">Infographics</a>
							</li>
			<!--   							<li class="menu-item dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#" tabindex="-1" data-delay="200" role="button">More<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Sub Menu 1</a></li>  
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Sub Menu 1</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Sub Menu 1</a></li>
								</ul>
							</li>
			-->  							
						</ul>
					</div>
				</nav>
									<!-- Start Mobile Menu Button -->
		<div class="mobile_menu_button hidden-desktop">
			<i id="showLeftPush" class="fa-bars"></i>
		</div>
		<!-- End Mobile Menu Button -->
		
		<!-- Start Mobile Navigation -->
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left hidden-desktop" id="cbp-spmenu-s1">
			<h3>Navigate</h3>
			<a href="/" data-target="#" tabindex="-1" data-delay="200" role="button">Home</a>
			<a href="{{fake_gamePath}} " data-target="#" tabindex="-1" data-delay="200" role="button">Games</a>
			<a href="/breaking_news" data-target="#" tabindex="-1" data-delay="200" role="button">Breaking News</a>
		</nav>
		<!-- End Mobile Navigation -->
					<!-- start header search -->
					<div class="header_search pull-right">
						
						<form class="search input-prepend clearfix" method="get" id="searchform">
							<span class="add-on"><i class="icon-search"></i></span>
							<input class="span2" id="prependedInput" type="text" placeholder="Search something ...">  
						</form>
					</div>
					<!-- end header search -->
					
				</div>
				<!-- Start Site Main Menu -->
				
				<!-- start news ticker -->
 
				<!-- end news ticker -->		
				
			</div>                    
		</div>
</template>