<template name="newsbox01">
		<div class="news_box horizontal_news_box horizontal_news_box_thumbnails">
			<div class="news_box_title"><h2>Article Preview 01</h2></div>
			<!-- start news box grid -->
			<div class="news_box_grid row-fluid">
				<!-- start news box latest psot -->
				<div class="news_box_latest span6">
					<div class="news_box_post_thumbnail thumbnail_effect">
						<a href="#"><img alt="Image Title" class="round_thumb" src="/img/20.jpg"></a>
						<div class="thumbnail_overlay"><i class="icon-link"></i></div>
					</div>
					<div class="news_box_post_info">
						<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
						<div class="news_box_post_meta">Posted on July 5, 2013</div>
						<div class="news_box_post_desc">
							<p>Fusce porttitor purus a pharetra varius. Proin eget nunc dignivel <a href="#">read more...</a></p>
						</div>
					</div>
				</div>
				<!-- end news box latest box -->
				
				<!-- start news box more posts -->
				<div class="news_box_more span6">
					<!-- more post 1 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<img alt="Image Title" class="round_thumb" src="/img/28.jpg">
							<div class="thumbnail_overlay"><i class="icon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>
					
					<!-- more post 2 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<img alt="Image Title" class="round_thumb" src="/img/23.jpg">
							<div class="thumbnail_overlay"><i class="icon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>
					
					<!-- more post 3 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<img alt="Image Title" class="round_thumb" src="/img/18.jpg">
							<div class="thumbnail_overlay"><i class="icon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>
					
					<!-- more post 4 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<img alt="Image Title" class="round_thumb" src="/img/17.jpg">
							<div class="thumbnail_overlay"><i class="icon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>
				</div>
				<!-- end news box more posts -->
			</div>
			<!-- end news box grid -->
		</div>
</template>