<template name="news_carousel">
	<div class="news_carousel container-fluid hidden-phone">
		<div class="container">
			<div id="news_carousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					
					<!-- carousel cycle 1 active -->
				{{#each stories}}
						<div class="item">
							<div class="row-fluid">
								<!-- carousel post item -->
									<div class="span3 news_carousel_post">
										<div class="news_carousel_thumbnail thumbnail_effect">
											<a href="{{single_story01Path this}}"><img alt="Image Title" src="{{thumb}}" class="round_thumb" title="Post Title"></a>

											<a href="{{single_story01Path this}}"><div class="thumbnail_overlay"><i class="icon-link"></i></div></a>
										</div>
										<div class="news_carousel_info">
											<h5 class="post_title"><a href="l">{{title}}</a></h5>
											<span class="post_meta">{{date}} by <a href="#">{{author}}</a></span>
										</div>
									</div>
								<!-- carousel post item -->

							</div>
						</div>
				{{/each}}
					
					
				</div>
				
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#news_carousel" data-slide="prev">‹</a>
				<a class="carousel-control right" href="#news_carousel" data-slide="next">›</a>
			
			</div>
		</div>
	</div>
</template>