<template name="single_story01">
     <head>
        <title>{{storyTitle}}</title>
     </head> 


    <body>
        <!-- start site header -->
        <header class="site_header">
 
            
        </header>
        <!-- end site header -->
        
        
        <!-- start site content -->
        <div class="site_content container-fluid" style="padding 20px">
            <div class="container">
                <div class="row">
                    <!-- start main content area -->
                    <section class="span8 main_content homepage_content" style="margin-right: 20px">
                        
                        <article class="single_post">
                            <div class="post_banner round_thumb"><img src="/img/38.jpg"></div>
                            <h1 class="post_title">Using Single Story Template 01 to Render {{storyTitle}} </h1>
                            <div class="news_box_post_meta">Posted on {{storyDate}}<a href="#">{{storyAuthor}} </a></div>
                            <div class="tagcloud clearfix">
                                {{#each currentStory.tags.value}}
                                    <a href="#" class="tag-link-2" title="3 topics" style="font-size: 22pt;">{{tag}}</a>
                                {{/each}}
                                <a href="#" class="tag-link-15" title="2 topics" style="font-size: 16.4pt;">Image</a>
                                <a href="#" class="tag-link-5" title="2 topics" style="font-size: 16.4pt;">Politics</a>
                            </div>
                            <div class="news_box_post_desc">
                                <p>{{storyDescription}}</p>
                                <br>
                                <p>{{storyText}}</p>
                            </div>
                            
                            <!-- stars review box stars -->
                            <div class="review_box clearfix">
                                <h3 class="review_title">Item Review</h3>
                                <div class="review_criteria">
                                    <!-- start criteria item 1 -->
                                    <div class="criteria_item clearfix">
                                        <div class="criteria_name">Surface Design</div>
                                        <div class="criteria_stars">
                                            <div class="criteria_active_stars" style="width:82%;"></div>
                                        </div>
                                    </div>
                                    <!-- end criteria item 1 -->
                                    
                                    <!-- start criteria item 2 -->
                                    <div class="criteria_item clearfix">
                                        <div class="criteria_name">Surface Design</div>
                                        <div class="criteria_stars">
                                            <div class="criteria_active_stars" style="width:69%;"></div>
                                        </div>
                                    </div>
                                    <!-- end criteria item 2 -->
                                    
                                    <!-- start criteria item 3 -->
                                    <div class="criteria_item clearfix">
                                        <div class="criteria_name">Surface Design</div>
                                        <div class="criteria_stars">
                                            <div class="criteria_active_stars" style="width:92%;"></div>
                                        </div>
                                    </div>
                                    <!-- end criteria item 3 -->
                                    
                                </div>
                                
                                <div class="review_results">
                                    <div class="review_summary">
                                        <span class="summary_score title">Great!</span>
                                        <span class="summary_title">Summary:</span> Ellentesque habitant morbi tristique senectus et netus et malasd
                                    </div>
                                    <div class="review_rating">RATING : 84%</div>
                                </div>
                                
                            </div>
                            <!-- end review box stars -->
                            
                        </article>
                        
                        <!-- start post share box -->
                        <div class="post_share_box clearfix">
                            <div class="share_title title">Share This:</div>
                            
                            <div class="post_share_buttons">
                                <!-- facebook share button -->
                                <div class="post_share_button facebook_share_button">
                                    
                                    <div class="post_share_action">
                                        <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#"><i class="post_share_icon icon-facebook"></i> <span class="post_share_text">Share</span></a>
                                    </div>
                                    <div class="post_share_counter">
                                        1.5k
                                    </div>
                                </div>

                                <!-- google plus share button -->
                                <div class="post_share_button gplus_share_button">
                                    
                                    <div class="post_share_action">
                                        <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#"><i class="post_share_icon icon-gplus"></i> <span class="post_share_text">+1</span></a>
                                    </div>
                                    <div class="post_share_counter">
                                        1.5k
                                    </div>
                                </div>

                                <!-- twitter share button -->
                                <div class="post_share_button twitter_share_button">
                                    
                                    <div class="post_share_action">
                                        <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#"><i class="post_share_icon icon-twitter"></i> <span class="post_share_text">Tweet</span></a>
                                    </div>
                                    <div class="post_share_counter">
                                        1.5k
                                    </div>
                                </div>

                                <!-- linked in share button -->
                                <div class="post_share_button linkedin_share_button">
                                    
                                    <div class="post_share_action">
                                        <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#"><i class="post_share_icon icon-linkedin"></i> <span class="post_share_text">Share</span></a>
                                    </div>
                                    <div class="post_share_counter">
                                        1.5k
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end post share box -->
                        
                        <!-- start author box -->
                        <div class="author_box clearfix">
                            <div class="author_avatar"><img src="/img/49.jpg"></div>
                            <div class="author_info">
                                <h4 class="author_name">{{author}}</h4>
 <!--                                <div class="author_bio">Integer scelerisque suscipit urna, vel ornare justo adipiscing nec. Nam a iaculis elit. Maecenas magna urna, dignissim sit amet elementum vitae, pharetra at nulla.</div> -->
                            </div>
                        </div>
                        <!-- end author box -->
                        
<!--  -->
                        <!-- end new comment box -->
                        
                    </section>
                    <!-- end main content area -->

 </template>