<template name="top_stories">

	<div class="news_box vertical_news_blog vertical_news_blog_small">
		<div class="news_box_title"><h2>More Articles</h2></div>
		<!-- start news box grid -->
		
		<!-- start news box latest 1 -->
		<div class="news_box_latest row-fluid">
				<div class="news_box_post_thumbnail thumbnail_effect_small">
					<a href="#"><img alt="Image Title" src="/img/1(1).jpg" ></a>
					<div class="thumbnail_overlay"><i class="icon-link"></i></div>
				</div>
				<div class="news_box_post_info">
					<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
					<div class="news_box_post_meta">Posted on July 5, 2013</div>
					<div class="news_box_post_desc">
						<p>Fusce porttitor purus a pharetra varius. Proin eget nunc dignissim, aliquet dolor vel, tincidunt purus. Quisque facilisis risus orci, quis tempus neque convallis vel. <a class="read_more_link" href="#">read more...</a></p>
					</div>
				</div>
		</div>
		<!-- end news box latest 1 -->
		
		<!-- start news box latest 2 -->
		<div class="news_box_latest row-fluid">
				<div class="news_box_post_thumbnail thumbnail_effect_small">
					<a href="#"><img alt="Image Title" src="/img/6(1).jpg"></a>
					<div class="thumbnail_overlay"><i class="icon-link"></i></div>
				</div>
				<div class="news_box_post_info">
					<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
					<div class="news_box_post_meta">Posted on July 5, 2013</div>
					<div class="news_box_post_desc">
						<p>Fusce porttitor purus a pharetra varius. Proin eget nunc dignissim, aliquet dolor vel, tincidunt purus. Quisque facilisis risus orci, quis tempus neque convallis vel. <a class="read_more_link" href="#">read more...</a></p>
					</div>
				</div>
		</div>
		<!-- end news box latest 2 -->
		
	</div>
</template>