<template name="widget_ftr_tags">	
	<div class="widget_area span3">
		<div class="widget_container tag_cloud_widget clearfix">
			<div class="widget_title"><h4>Tag Cloud</h4></div>
			<div class="tagcloud">
				<a href="index.html#" class="tag-link-2" title="3 topics" style="font-size: 22pt;">Business</a>
				<a href="index.html#" class="tag-link-15" title="2 topics" style="font-size: 16.4pt;">Image</a>
				<a href="index.html#" class="tag-link-5" title="2 topics" style="font-size: 16.4pt;">Politics</a>
				<a href="index.html#" class="tag-link-7" title="3 topics" style="font-size: 22pt;">Technology</a>
				<a href="index.html#" class="tag-link-13" title="1 topic" style="font-size: 8pt;">video</a>
				<a href="index.html#" class="tag-link-14" title="1 topic" style="font-size: 8pt;">youtube</a>
				<a href="index.html#" class="tag-link-2" title="3 topics" style="font-size: 22pt;">Business</a>
				<a href="index.html#" class="tag-link-15" title="2 topics" style="font-size: 16.4pt;">Image</a>
				<a href="index.html#" class="tag-link-5" title="2 topics" style="font-size: 16.4pt;">Politics</a>
				<a href="index.html#" class="tag-link-7" title="3 topics" style="font-size: 22pt;">Technology</a>
				<a href="index.html#" class="tag-link-13" title="1 topic" style="font-size: 8pt;">video</a>
				<a href="index.html#" class="tag-link-14" title="1 topic" style="font-size: 8pt;">youtube</a>
				<a href="index.html#" class="tag-link-2" title="3 topics" style="font-size: 22pt;">Business</a>
				<a href="index.html#" class="tag-link-15" title="2 topics" style="font-size: 16.4pt;">Image</a>
				<a href="index.html#" class="tag-link-5" title="2 topics" style="font-size: 16.4pt;">Politics</a>
				<a href="index.html#" class="tag-link-7" title="3 topics" style="font-size: 22pt;">Technology</a>
				<a href="index.html#" class="tag-link-13" title="1 topic" style="font-size: 8pt;">video</a>
				<a href="index.html#" class="tag-link-14" title="1 topic" style="font-size: 8pt;">youtube</a>
			</div>
		</div>
	</div>
</template>