<template name="widget_ftr_flickr">
	<div class="widget_area span3">
		<div class="widget_container flickr_widget clearfix">
			<div class="widget_title"><h4>Photo Stream</h4></div>
			<div class="row">
				<div class="span">
					<ul class="thumbnails">
						<!-- more small thumbnails -->
						<li class="span">
							<img alt="Image Title" src="/img/27.jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/29.jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/30.jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/31.jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/32(1).jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/33.jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/34.jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/35(1).jpg" class="round_thumb">
						</li>
						<li class="span">
							<img alt="Image Title" src="/img/37.jpg" class="round_thumb">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>