
<template name="video_widget">
	<div class="widget_container video_widget clearfix">
		<div class="widget_title"><h4>Video Widget</h4></div>
		<iframe width="300" height="170" src="//www.youtube.com/embed/2DRXK8FG-6U">
	</div>
</template>