<template name="widget_ftr_categories">
	<div class="widget_area span3">
		<div class="widget_container categories_widget clearfix">
			<div class="widget_title"><h4>Categories</h4></div>
			<ul>
				<li class="cat-item">
					<a href="#" title="View all posts filed under Business">Business</a>
				</li>
				<li class="cat-item">
					<a href="#" title="View all posts filed under News">News</a>
				</li>
				<li class="cat-item">
					<a href="#" title="View all posts filed under Politics">Politics</a>
				</li>
				<li class="cat-item">
					<a href="#" title="View all posts filed under Sports">Sports</a>
				</li>
				<li class="cat-item">
					<a href="#" title="View all posts filed under Sports">Fashion</a>
				</li>
				<li class="cat-item">
					<a href="#" title="View all posts filed under Sports">Health</a>
				</li>
				<li class="cat-item">
					<a href="#" title="View all posts filed under Sports">Technology</a>
				</li>
			</ul>
		</div>
	</div>
</template>