<template name="social_counter">
	<div class="widget_container social_counter_widget clearfix">
		<div class="widget_title"><h4>Social Counter</h4></div>
		<div class="row-fluid">
			<div class="span4 facebook_counter">
				<div class="counter_icon facebook_icon btn btn-3 btn-3e">
					<a href="#"><i class="icon-facebook "></i></a>
				</div>
				<div class="counter_number title">12K</div>
				<div class="counter_text title">Likes</div>
			</div>
			<div class="span4">
				<div class="counter_icon twitter_icon btn btn-3 btn-3e">
					<a href="#"><i class="icon-twitter"></i></a>
				</div>
				<div class="counter_number title">18K</div>
				<div class="counter_text title">Followers</div>
			</div>
			<div class="span4">
				<div class="counter_icon gplus_icon btn btn-3 btn-3e">
					<a href="#"><i class="icon-gplus"></i></a>
				</div>
				<div class="counter_number title">9K</div>
				<div class="counter_text title">Followers</div>
			</div>
			
		</div>
	</div>
</template>