<template name="sidebar_widget">
	<div class="widget_container sponsor_widget_300 clearfix round_thumb">
		<img alt="Image Title" src="/img/35.jpg" class="round_thumb">
		<div class="sponsor_title">News Features</div>
	</div>
</template>