
<template name="crossword">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	  <script type="text/javascript">
	  	jQuery.noConflict();
	  </script>
    </head>

    <body>
      {{> GameCanvasCrossword}}
    </body>
</template>
<template name="GameCanvasCrossword">
	<div id="crossword"></div>
</template>
