
/**
 * wordsearch.css
 *
 * Kids Dailies Word Search CSS.
 * 
 * @author Adrian Iacob <adrian@bmcd.co>
 * @author Nitin N <nitin@bmcd.co>
 * @author Brent McDowell <brent@bmcd.co>
 * @version 0.1
 * @package games
 */
 #wordsearch_game_canvas{
        margin-left: -50px;
}
table td {
    background-color: #F8F8FF;
    border: 1px solid #CDCDCD;
    height: 1em;
}

/* Style for grid cells */
.rf-tgrid {
    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 1px;
    padding: 10px;
/*    border: 1px solid bisque;*/
    vertical-align: middle;
    text-align: center;

}

/* Style for the grid */
.rf-tablestyle {
    border: 2px solid;
    border-color: gold;
    background-color: ghostwhite;
    cursor: pointer;

}

/* Style for the div containing the grid */
#rf-searchgamecontainer {
    float: left;
    margin-left: -30px;
    padding-right: 50px;
    width: 490px;
}

/* Style for the div containing the word list */
#rf-wordcontainer {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    float :left;
    padding-right: 50px; 
    cursor: default;
	margin : 1em 1em 1em 0;
	
    border: 2px solid;
    border-color: gold;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;	
    
	cursor: pointer;	
}

/* Style for the words that have been found */
.rf-foundword {
    font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration : line-through;
	color : lightgray;
	font-style : italic;

}

#rf-tablegrid .rf-armed {
/*	background: lightcyan;*/
}

#rf-tablegrid .rf-highlight {
    background: red;
}


#rf-tablegrid .rf-glowing {
	background: greenyellow;
        
}

#rf-tablegrid .rf-selected {
	background: gold;
}

/* style for words that didn't make it on the grid */
.rf-pfalse {
    color: gray;
    visibility: hidden; 
}
