<template name="wordsearch">

    <body>
      {{> GameCanvasWordSearch}}
    </body>
</template>

<template name="GameCanvasWordSearch">
    <style>
    #wordsearch_game_canvas table td {
    background-color: #F8F8FF;
    border: 1px solid #CDCDCD;
    height: 1em;
}</style>
    <div id="wordsearch_game_canvas"></div>
</template>